body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
    background: #eeeeee;
    background-image: url(img/simple.jpg)
}



.container-box {
    width: 100%;
    height: 50px;
    background: #10465e;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.navbar-header {
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    align-items: center;
}

.main {
    overflow: hidden;
    background-image: url("img/img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    padding: 100px;
    box-shadow: 0px 10px 45px #10465e;
    color: #10465e;
    z-index: 10;
}

.container-main {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.btn-menu {
    color: #b3c6cd;
    padding: 15px;
    border-bottom: 3px solid transparent;
    justify-self: center;
    text-decoration: none;
}

    .btn-menu:hover {
        color: #b3c6cd;
        border-bottom: 3px solid #b3c6cd;
    }

.btn-main {
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    border: 3px solid #10465e;
    padding: 10px;
    color: #10465e;
}

.btn-large {
    width: 50%;
}


.btn-main:hover {
    background: #10465e;
    color: #ffffff;
    border: 3px solid #10465e;
}

.btn-search {
    color: #10465e;
    border: 1px solid #10465e;
    ;
    padding: 9px;
    background: #b3c6cd;
}

    .btn-search:hover {
        color: #b3c6cd;
        background: #10465e;
        border: 1px solid #10465e;
    }

