<!DOCTYPE html>
<html>
<head>
    <title>Portal Pracy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />


</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="container-box">
            <div class="navbar-header">
                <a class="btn-menu" href="">Home page</a>
                <a class="btn-menu" href="">Surveys</a>
                <a class="btn-menu" href="">Logout: </a>
                <a class="btn-menu" href="">Profile</a>

                <a class="btn-menu" href="">Login</a>

            </div>
        </div>
    </div>
    <div class="container body-content">
        @if (TempData["message"] != null)
        {
            <div class="alert alert-success">@TempData["message"]</div>
        }
        <div class="main">
            <div class=" container-main">
                @RenderBody()
            </div>
        </div>
        <br/>
        <footer>
            <p>&copy; @DateTime.Now.Day.@DateTime.Now.Month.@DateTime.Now.Year</p>
        </footer>
    </div>

    
</body>
</html>