@model DataTransferObjects.Models.Survey
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
<div class="card card-body bg-light">
    <h3>
        <strong>@Model.title</strong>
        <p class="btn btn-dark" style="margin-top:10px">
    @Html.ActionLink("Fill survey", "FillSurvey", "Home", new { id = Model.surveyID }, null)
</p>
    </h3>
    <span class="lead">@Model.description</span>
</div>
