@model Survey_MVC.ViewModels.Account.DeleteAccountVM
@{
    ViewBag.Title = "DeleteAccount";
}

<h3>Na pewno chcesz usunąć konto?</h3>
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="btn badge-danger">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
        </div>
        <div class="btn badge-dark">
            @Html.ActionLink("Powrót do profilu", "MyProfile", "Account")
        </div>
    }
</div>